{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container shopping-bag-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-2 mb-4">
                Your Shopping Bag
            </h2>
        </div>
        <div class="col-12">
            {% if bag_items %}
            <div class="table-responsive rounded">
                <table class="table table-sm">
                    <thead class="text-black">
                    <tr>
                        <th scope="col">
                        </th>
                        <th scope="col">
                            Product
                        </th>
                        <th scope="col" class="text-end">
                            Subtotal
                        </th>
                    </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                        </td>
                        <td class="py-2">
                            <a href="{% url 'product_details' item.product.id %}">
                                <p class="mt-0 mb-1 fw-bold">
                                    {{ item.product.name }}
                                </p>
                            </a>
                            {% if item.product.has_sizes %}
                            <p class="mb-0">
                                Size: {{ item.size|upper }}
                            </p>
                            {% endif %}
                            <p class="mb-2">
                                Quantity: {{ item.quantity }}
                            </p>
                            <div class="col-sm-8 col-md-5 col-lg-3 d-flex justify-content-between">
                                <p id="update_product_{{ item.item_id }}" class="text-primary update-product">
                                    Update
                                </p>
                                <p class="text-danger remove-product" id="remove_{{ item.item_id }}"
                                   data-product_size="{{ item.size }}">
                                    Remove
                                </p>
                            </div>
                            <div class="form-update-product-container">
                                <form class="form-update-product" id="form_update_product_{{ item.item_id }}" method="POST"
                                      action="{% url 'update_bag' item.item_id %}{% if item.size %}?current_size={{ item.size }}{% endif %}">
                                    {% csrf_token %}
                                    <div class="form-row">
                                        {% if item.size %}
                                        <div class="col-sm-12 col-md-6">
                                            <label class="my-1 fw-bold" for="product_size">
                                                Size:
                                            </label>
                                            <select class="form-select w-50" name="product_size" id="product_size">
                                                <option value="s">
                                                    S
                                                </option>
                                                <option value="m" selected>
                                                    M
                                                </option>
                                                <option value="l">
                                                    L
                                                </option>
                                                <option value="xl">
                                                    XL
                                                </option>
                                            </select>
                                        </div>
                                        {% endif %}
                                        <div class="col-sm-12 col-md-6">
                                            <label class="mt-2 mb-1 fw-bold" for="id_qty_{{ product.id }}">
                                                Quantity:
                                            </label>
                                            <select class="form-select w-50" name="quantity"
                                                    id="id_qty_{{ product.id }}" data-item_id="{{ product.id }}">
                                                <option value="1" selected>
                                                    1
                                                </option>
                                                <option value="2">
                                                    2
                                                </option>
                                                <option value="3">
                                                    3
                                                </option>
                                                <option value="4">
                                                    4
                                                </option>
                                                <option value="5">
                                                    5
                                                </option>
                                                <option value="6">
                                                    6
                                                </option>
                                                <option value="7">
                                                    7
                                                </option>
                                                <option value="8">
                                                    8
                                                </option>
                                                <option value="9">
                                                    9
                                                </option>
                                                <option value="10">
                                                    10
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <input type="submit" class="custom-btn-primary btn-sm mt-3"
                                                   value="Confirm">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </td>
                        <td class="py-2 text-end">
                            <p class="my-0">
                                £{{ item.product.price | calc_subtotal:item.quantity }}
                            </p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="5" class="pt-3 text-end">
                            <h6>
                                Bag Total: £{{ total|floatformat:2 }}
                            </h6>
                            <h6>
                                Delivery: £{{ delivery|floatformat:2 }}
                            </h6>
                            <h4 class="mt-4">
                                Grand Total: £{{ grand_total|floatformat:2 }}
                            </h4>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4 mx-auto text-center">
                <a href="{% url 'checkout' %}" class="custom-btn-primary d-inline-block w-100">
                    Go Checkout
                </a>
            </div>
            {% else %}
            <p class="lead mb-5">Your bag is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $(".update-product").click(function() {
            $(this).parent().next().slideToggle(100, "linear");
        });
        $(".remove-product").click(function(e) {
            var csrfToken = "{{ csrf_token }}";
            var itemId = $(this).attr('id').split('remove_')[1];
            var size = $(this).data('size');
            var url = `/shopping_bag/remove/${itemId}/`;
            var data = {'csrfmiddlewaretoken': csrfToken, 'size': size};

            $.post(url, data).done(function() {
                 location.reload();
            });
        });
    });
</script>
{% endblock %}