{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12 mt-4">
            <h2>
                Your Shopping Bag
            </h2>
        </div>
        <div class="col-12">
            {% if bag_items %}
                <p>
                    {{ bag_items }}
                </p>
            {% else %}
                <p>
                    Your bag is empty.
                </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}