{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!--    <div class="container-fluid h-100">-->
<!--        <div class="row h-100">-->
<!--            <div class="col-12 col-md-4">-->
<!--                <div class="card custom-card">-->
<!--                    <img class="card-img-top" src="" alt="Card image cap">-->
<!--                    <div class="card-body">-->
<!--                        <h2 class="card-title">Clothing</h2>-->
<!--                        <a href="#" class="custom-btn-primary">Shop Now</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4">-->
<!--                <h2>Skateboard</h2>-->
<!--            </div>-->
<!--            <div class="col-12 col-md-4">-->
<!--                <h2>New</h2>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
{% endblock %}