{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid custom-container">
    <div class="hero-container"></div>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h1 class="hero-text text-uppercase text-white my-5 fw-bold">
                Explore our catalog, for <span class="text-danger">all</span> styles.
            </h1>
            <a class="custom-btn-primary btn-lg btn-variant px-5 py-3 text-uppercase"
               href="{% url 'products' %}">
                Shop Now
                <i class="fa-solid fa-arrow-right text-white ms-2"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}