{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container custom-container">
    <div class="row">
        <div class="col-12 mt-2">
            <h2 class="text-center mt-2 mb-4">
                My Profile
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 offset-md-1 order-md-last">
            <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-shopping-bag me-3 fs-4"></i>
                <h4 class="mb-0">
                    Order history
                </h4>
            </div>
            <div class="col-12 mb-5">
                {% if orders %}
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">
                            Order number
                        </th>
                        <th scope="col">
                            Date
                        </th>
                        <th scope="col" class="text-end">
                            Grand Total
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                    <tr>
                        <th scope="row" class="py-3">
                            <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                #{{ order.order_number|truncatechars:10 }}
                            </a>
                        </th>
                        <td class="py-3">
                            {{ order.date }}
                        </td>
                        <td class="text-end py-3">
                            £{{ order.grand_total }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% else %}
                <p>
                    You don't have any orders yet.
                </p>
                {% endif %}
            </div>
        </div>
        <div class="col-md-5">
            <div class="d-flex align-items-center mb-3">
                <i class="fa-solid fa-truck-fast me-3 fs-4"></i>
                <h4 class="mb-0">
                    Delivery information
                </h4>
            </div>
            <form id="profile_form" method="POST" action="{% url 'profile' %}">
                {% csrf_token %}
                <div class="row g-3">

                    <div class="col-12">
                        <label for="id_default_phone_number" class="form-label">
                            Phone Number
                        </label>
                        {{ form.default_phone_number | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        <label for="id_street_address1" class="form-label">
                            Street Address
                        </label>
                        {{ form.default_street_address1 | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.default_street_address2 | as_crispy_field }}
                    </div>
                    <div class="col-md-5">
                        <label for="id_postcode" class="form-label">
                            Postal Code
                        </label>
                        {{ form.default_postcode | as_crispy_field }}
                    </div>
                    <div class="col-md-7">
                        <label for="id_town_or_city" class="form-label">
                            Town / City
                        </label>
                        {{ form.default_town_or_city | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_country" class="form-label">
                            Country
                        </label>
                        {{ form.default_country | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_county" class="form-label">
                            State / County
                        </label>
                        {{ form.default_county | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-8 col-lg-6 mx-auto">
                        <button class="w-100 custom-btn-primary mb-4" type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
            <div class="d-flex align-items-center my-3">
                <i class="fa-solid fa-user me-2 fs-4"></i>
                <h4 class="mb-0">
                    Account settings
                </h4>
            </div>
            <div class="col-12">
                <p class="mb-3">
                    If you would like to change your password, please do it here:
                </p>
                <div class="col-12 col-md-8 col-lg-6 mt-2 mx-auto">
                    <a href="{% url 'account_set_password' %}"
                       class="custom-btn-primary w-100 d-inline-block text-center mx-auto">
                        Change Password
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}