{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container shopping-bag-container">
    <div class="row">
        <div class="col-12 mt-2">
            <h2 class="text-center mt-2 mb-4">
                Checkout success!
            </h2>
        </div>
        <div class="col-md-6 col-lg-5 order-md-last mb-3">
            <div class="order-summary-container">
                <div class="table-responsive rounded">
                    <table class="table table-sm">
                        <thead class="text-black">
                        <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                                Product
                            </th>
                            <th scope="col" class="text-end">
                                Subtotal
                            </th>
                        </tr>
                        </thead>
                        {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-2">
                                <a href="{% url 'product_details' item.product.id %}">
                                    <p class="mt-0 mb-1 fw-bold">
                                        {{ item.product.name }}
                                    </p>
                                </a>
                                {% if item.product.has_sizes %}
                                <p class="mb-0">
                                    Size: {{ item.size|upper }}
                                </p>
                                {% endif %}
                                <p class="mb-2">
                                    Quantity: {{ item.quantity }}
                                </p>
                            </td>
                            <td class="py-2 text-end">
                                <p class="my-0">
                                    £{{ item.product.price | calc_subtotal:item.quantity }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="">
                            <td colspan="5" class="pt-3 text-end">
                                <h6>
                                    Bag Total: £{{ total|floatformat:2 }}
                                </h6>
                                <h6>
                                    Delivery: £{{ delivery|floatformat:2 }}
                                </h6>
                                <h4 class="mt-4">
                                    Grand Total: £{{ grand_total|floatformat:2 }}
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script type="text/javascript" src="{% static 'checkout/js/stripe-elements-script.js' %}">
</script>
{% endblock %}