{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container shopping-bag-container">
    <div class="row">
        <div class="col-12 mt-2">
            <h2 class="text-center mt-2 mb-4">
                Checkout
            </h2>
        </div>
        <div class="col-12">
            <p>
                Please fill out the form below to complete your order.
            </p>
        </div>
    </div>
</div>
{% endblock %}