{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container shopping-bag-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-2 mb-4">
                Checkout
            </h2>
        </div>
        <div class="col-md-6 col-lg-5 order-md-last mb-3">
            <div class="order-summary-container">
                <div class="table-responsive rounded">
                    <table class="table table-sm">
                        <thead class="text-black">
                        <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                                Product
                            </th>
                            <th scope="col" class="text-end">
                                Subtotal
                            </th>
                        </tr>
                        </thead>
                        {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}">
                            </td>
                            <td class="py-2">
                                <a href="{% url 'product_details' item.product.id %}">
                                    <p class="mt-0 mb-1 fw-bold">
                                        {{ item.product.name }}
                                    </p>
                                </a>
                                {% if item.product.has_sizes %}
                                <p class="mb-0">
                                    Size: {{ item.size|upper }}
                                </p>
                                {% endif %}
                                <p class="mb-2">
                                    Quantity: {{ item.quantity }}
                                </p>
                            </td>
                            <td class="py-2 text-end">
                                <p class="my-0">
                                    £{{ item.product.price | calc_subtotal:item.quantity }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="">
                            <td colspan="5" class="pt-3 text-end">
                                <h6>
                                    Bag Total: £{{ total|floatformat:2 }}
                                </h6>
                                <h6>
                                    Delivery: £{{ delivery|floatformat:2 }}
                                </h6>
                                <h4 class="mt-4">
                                    Grand Total: £{{ grand_total|floatformat:2 }}
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <div class="d-flex align-items-center instructions-wrapper mb-2">
                <i class="fa-solid fa-pencil me-2 fs-2 text-white"></i>
                <p class="fw-bold text-white my-0">
                    Complete your order by filling up the form.
                </p>
            </div>

            <form method="POST" action="{% url 'checkout' %}" id="payment_form">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <h4 class="mb-3">
                            Details
                        </h4>
                        <label for="id_full_name" class="form-label">
                            Full Name <span class="fw-bold">*</span>
                        </label>
                        <input type="text" class="form-control" id="id_full_name"
                               name="full_name" maxlength="64" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="id_email" class="form-label">
                            Email <span class="fw-bold">*</span>
                        </label>
                        <input type="email" class="form-control" id="id_email"
                               name="email" maxlength="64" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="id_phone_number" class="form-label">
                            Phone Number <span class="fw-bold">*</span>
                        </label>
                        <input type="text" class="form-control" id="id_phone_number"
                               name="phone_number" maxlength="32" required>
                    </div>
                    <div class="col-12">
                        <label for="id_street_address1" class="form-label">
                            Street Address <span class="fw-bold">*</span>
                        </label>
                        <input type="text" class="form-control" id="id_street_address1"
                               name="street_address1" maxlength="128" required>
                    </div>
                    <div class="col-12">
                        <input type="text" class="form-control" id="id_street_address2"
                               name="street_address2" maxlength="128">
                    </div>
                    <div class="col-md-4">
                        <label for="id_postcode" class="form-label">
                            Postal Code
                        </label>
                        <input type="text" class="form-control" id="id_postcode"
                               name="postcode" maxlength="16">
                    </div>
                    <div class="col-md-8">
                        <label for="id_town_or_city" class="form-label">
                            Town / City <span class="fw-bold">*</span>
                        </label>
                        <input type="text" class="form-control" id="id_town_or_city"
                               name="town_or_city" maxlength="32" required>
                    </div>
                    <div class="col-md-6">
                        <label for="id_country" class="form-label">
                            Country <span class="fw-bold">*</span>
                        </label>
                        {% load countries %}
                        {% get_countries as countries %}
                        <select type="text" class="form-select" id="id_country"
                                name="country" maxlength="32" required>
                            {% for country in countries %}
                            <option value="{{ country.code }}">{{ country.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="id_county" class="form-label">
                            State / County
                        </label>
                        <input type="text" class="form-control" id="id_county"
                               name="county" maxlength="32">
                    </div>
                    {% if user.is_authenticated %}

                    <div class="custom-control custom-checkbox">
                        <hr class="my-4">
                        <input type="checkbox" class="custom-control-input" id="id_save_info" name="save_info">
                        <label class="custom-control-label" for="id_save_info">
                            Save this information for next time.
                        </label>
                    </div>
                    {% endif %}
                </div>
                <hr class="my-4">
                <h4 class="mb-3">
                    Payment
                </h4>
                <fieldset class="">
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger d-flex" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <hr class="my-4">
                <div class="col-12 col-md-8 mx-auto">
                    <button class="w-100 custom-btn-primary" type="submit">Place Order</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script type="text/javascript" src="{% static 'checkout/js/stripe-elements-script.js' %}">
</script>
{% endblock %}