{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container custom-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-2 mb-4">
                Checkout
            </h2>
        </div>
        <div class="col-md-6 col-lg-5 order-md-last mb-3">
            <div class="order-summary-container">
                <div class="table-responsive rounded">
                    <table class="table table-sm">
                        <thead class="text-black">
                        <tr>
                            <th scope="col">
                            </th>
                            <th scope="col">
                                Product
                            </th>
                            <th scope="col" class="text-end">
                                Subtotal
                            </th>
                        </tr>
                        </thead>
                        {% for item in bag_items %}
                        <tr>
                            <td class="p-3 w-25">
                                {% if item.product.image %}
                                <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                {% else %}
                                <img class="img-fluid rounded" src="/media/noimage.png" alt="{{ item.product.name }}">
                                {% endif %}
                            </td>
                            <td class="py-2">
                                <a href="{% url 'product_details' item.product.id %}">
                                    <p class="mt-0 mb-1 fw-bold">
                                        {{ item.product.name }}
                                    </p>
                                </a>
                                {% if item.product.has_sizes %}
                                <p class="mb-0">
                                    Size: {{ item.size|upper }}
                                </p>
                                {% endif %}
                                <p class="mb-2">
                                    Quantity: {{ item.quantity }}
                                </p>
                            </td>
                            <td class="py-2 text-end">
                                <p class="my-0">
                                    £{{ item.product.price | calc_subtotal:item.quantity }}
                                </p>
                            </td>
                        </tr>
                        {% endfor %}
                        <tr class="">
                            <td colspan="5" class="pt-3 text-end">
                                <h6>
                                    Bag Total: £{{ total|floatformat:2 }}
                                </h6>
                                <h6>
                                    Delivery: £{{ delivery|floatformat:2 }}
                                </h6>
                                <h4 class="mt-4">
                                    Grand Total: £{{ grand_total|floatformat:2 }}
                                </h4>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-7">
            <div class="d-flex align-items-center instructions-wrapper mb-2">
                <i class="fa-solid fa-pencil me-2 fs-2 text-white"></i>
                <p class="fw-bold text-white my-0">
                    Complete your order by filling up the form.
                </p>
            </div>

            <form method="POST" action="{% url 'checkout' %}" id="payment_form">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-12">
                        <h4 class="mb-3">
                            Details
                        </h4>
                        <label for="id_full_name" class="form-label">
                            Full Name*
                        </label>
                        {{ order_form.full_name | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        <label for="id_email" class="form-label">
                            Email*
                        </label>
                        {{ order_form.email | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        <label for="id_phone_number" class="form-label">
                            Phone Number*
                        </label>
                        {{ order_form.phone_number | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        <label for="id_street_address1" class="form-label">
                            Street Address*
                        </label>
                        {{ order_form.street_address1 | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ order_form.street_address2 | as_crispy_field }}
                    </div>
                    <div class="col-md-4">
                        <label for="id_postcode" class="form-label">
                            Postal Code
                        </label>
                        {{ order_form.postcode | as_crispy_field }}
                    </div>
                    <div class="col-md-8">
                        <label for="id_town_or_city" class="form-label">
                            Town / City*
                        </label>
                        {{ order_form.town_or_city | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_country" class="form-label">
                            Country*
                        </label>
                        {{ order_form.country | as_crispy_field }}
                    </div>
                    <div class="col-md-6">
                        <label for="id_county" class="form-label">
                            State / County
                        </label>
                        {{ order_form.county | as_crispy_field }}
                    </div>
                    {% if user.is_authenticated %}
                    <div class="custom-control custom-checkbox">
                        <hr class="my-4">
                        <input type="checkbox" class="custom-control-input" id="id_save_info" name="save_info">
                        <label class="custom-control-label" for="id_save_info">
                            Save this information for next time.
                        </label>
                    </div>
                    {% endif %}
                </div>
                <hr class="my-4">
                <h4 class="mb-3">
                    Payment
                </h4>
                <fieldset class="">
                    <div class="mb-3" id="card-element"></div>
                    <div class="mb-3 text-danger d-flex" id="card-errors" role="alert"></div>
                    <input type="hidden" value="{{ client_secret }}" name="client_secret">
                </fieldset>
                <hr class="my-4">
                <div class="col-12 col-md-8 mx-auto">
                    <button class="w-100 custom-btn-primary" id="submit_button">Place Order</button>
                </div>
            </form>
        </div>
    </div>
    <div class="loading-overlay">
        <div class="loading-overlay-content d-flex justify-content-center align-items-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{{ stripe_public_key|json_script:"id_stripe_public_key" }}
{{ client_secret|json_script:"id_client_secret" }}
<script type="text/javascript" src="{% static 'checkout/js/stripe-script.js' %}">
</script>
{% endblock %}