{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container custom-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-2 mb-4">
                {% trans "Change Password" %}
            </h2>
        </div>
        <div class="col-12 col-md-6 mx-auto text-center">
            <p>
                {% trans 'Your password is now changed.' %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
