{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <h2 class="text-center mt-2 mb-4">
                    {% trans "Change Password" %}
                </h2>
            </div>
            <div class="col-12 col-md-6 mx-auto text-center">
                <form method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    <div class="col-12 col-md-6 mx-auto">
                        {{ form.oldpassword | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 mx-auto mt-2">
                        {{ form.password1 | as_crispy_field }}
                    </div>
                    <div class="col-12 col-md-6 mx-auto mt-2">
                        {{ form.password2 | as_crispy_field }}
                    </div>
                    <div class="col-12 mt-4">
                        <button class="custom-btn-primary px-5" type="submit">{% trans "Change Password" %}</button>
                    </div>
            </div>
        </div>
    </div>
{% endblock %}