{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="container custom-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-2 mb-4">
                {% trans "Sign Up" %}
            </h2>
        </div>
        <div class="col-12 col-md-6 mx-auto text-center">
            <form class="signup" id="signup_form" method="POST" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div class="col-12 col-md-6 mx-auto">
                    {{ form.email | as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 mx-auto mt-2">
                    {{ form.email2 | as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 mx-auto mt-2">
                    {{ form.username | as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 mx-auto mt-2">
                    {{ form.password1 | as_crispy_field }}
                </div>
                <div class="col-12 col-md-6 mx-auto mt-2">
                    {{ form.password2 | as_crispy_field }}
                </div>
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="col-12 mt-4">
                    <button class="custom-btn-primary px-5" type="submit">{% trans "Sign Up" %}</button>
                </div>
                <div class="col-12">
                    <p>{% blocktrans %}<a href="{{ login_url }}">Already have an account?</a>{% endblocktrans %}</p>
                </div>
            </form>
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}