{% extends 'base.html' %}
{% load static %}
{% load bag_tools %}

{% block content %}
<div class="container custom-container">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center mt-2 mb-4">
                Add a Product
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 col-lg-6 mx-auto">
            <form method="POST" action="{% url 'add_product' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row g-3">
                    <div class="col-sm-6">
                        {{ form.category | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.sku | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.price | as_crispy_field }}
                    </div>
                    <div class="col-sm-6">
                        {{ form.has_sizes | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.name | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.description | as_crispy_field }}
                    </div>
                    <div class="col-12">
                        {{ form.image | as_crispy_field }}
                    </div>
                    <div class="col-12 text-center">
                        <button type="submit" class="custom-btn-primary mt-4 px-5">
                            Add product
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
