{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col-12">
            <h2 class="text-center mt-2">
                All Products
            </h2>
            <hr class="divider mb-5">
        </div>
        <div class="col-12">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        <div class="d-flex justify-content-between align-items-center px-3">
                            <p class="card-tag text-capitalize">
                                {{ product.category.display_name }}
                            </p>
                            <p class="card-price">
                                £{{ product.price }}
                            </p>
                        </div>
                        <a href="{% url 'product_details' product.id %}">
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">
                                    {{ product.name }}
                                </h5>
                            </div>
                        </a>
                    </div>
                </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}