{% extends 'base.html' %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row h-100">
        <div class="col-12">
            <h2 class="text-center mt-2">
                All Products
            </h2>
            <a class="dropdown-toggle" href="#" id="sort_dropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
                Sort by Price
            </a>
            <ul class="dropdown-menu" aria-labelledby="sort_dropdown">
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}?{% if current_category %}category={{products.category}}&{% endif %}sort=price&direction=asc">
                        Low to High
                    </a>
                </li>
                <li>
                    <a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=desc">
                        High to Low
                    </a>
                </li>
            </ul>
            <hr class="divider mb-5">
        </div>
        <div class="col-12">
            <div class="row">
                {% for product in products %}
                <div class="col-sm-6 col-lg-4 col-xl-3">
                    <a href="{% url 'product_details' product.id %}" class="card-link">
                        <div class="card h-100 border-0">
                            <div class="d-flex justify-content-end px-3">
                                <p class="card-price">
                                    £{{ product.price }}
                                </p>
                            </div>
                            <img src="{{ product.image.url }}" class="card-img-top img-fluid" alt="{{ product.name }}">
                            <div class="card-body">
                                <h5 class="card-title text-center fw-bold">
                                    {{ product.name }}
                                </h5>
                            </div>
                        </div>
                    </a>
                </div>
                    {% if forloop.counter|divisibleby:1 %}
                        <div class="col-12 d-sm-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:2 %}
                        <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:3 %}
                        <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            <hr>
                        </div>
                    {% endif %}
                    {% if forloop.counter|divisibleby:4 %}
                        <div class="col-12 d-none d-xl-block mb-5">
                            <hr>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}